
<head>
<!-- <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Confirmare</title>

<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<style type="text/css">
    body{
        margin: 50px 15px 0;
        font-family: 'Open Sans', sans-serif;
    }
    h1{
        color: #2FAC66;
        font-weight: bold;
        padding-bottom: 15px;
    }
    p{
        color: #666;
        font-size: 16px;
    }
    i{
        color: #2FAC66;
        width: 60px;
        height: 60px;
        border-radius: 60px;
        background: #f2f2f2;
        display: inline-block;
        line-height: 62px;
        font-size: 28px;
    }
</style>


    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/w3.css" />

    <link rel="shortcut icon" type="image/png" href="/Photos/Icon.png">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <script src="/java.js"></script> 
    <script src="/j2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<!-- headerul care se repeta pagina de pagina -->
 <!-- <%- include("../views/header") %> -->

 <body>   

 

 <p>Ati adaugat cu succes o noua comanda!</p>

<div class="text-center"> 
    <i class="icon-box"><span class="glyphicon glyphicon-ok"></span></i>
    <h1>Confirmare</h1>
    <p>Cererea dvs a fost trimisa cu succes!</p>
</div>

   

</body>

<footer>
     <!-- subsolul care se repeta  -->

<%- include("../views/footer") %>
</footer>



</html>


