<!-- <footer>
    <p>Copyright &copy; 2020</p>

</footer> -->

<!-- Varianta 1  -->
<!-- <footer class="w3-center w3-light-grey w3-padding-48 w3-large">
    <h3>- Cofetăria☆Serelina -  &trade; </h3>
  </footer> -->



  <!-- Varianta 1  -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
    <img alt="logo"  style="width:15%;height:10%" src="/Photos/icon.png"/>
    <h3>- Cofetăria☆Serelina - &trade;</h3>
    <h5>Vă așteptăm!</h5>
    <p>
      <a href="https://www.facebook.com/cofetariaserelina/" class="fa fa-facebook"></a>
      <a href="https://www.instagram.com/cofetariaserelina/" class="fa fa-instagram"></a>
    </p>
    <br> 
    <a href="/" class="w3-button w3-black"><i class="fa fa-arrow-up w3-margin-right"></i>Acasa</a>
  </footer>
  