<header>
    <!-- <nav>
    <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/add_student">Adauga Student in Baza de date</a></li>
            <li><a href="/list_studenti">Lista de studenti</a></li>
            <li><a href="/list_restantieri">Lista de studenti restantieri</a></li>
            <li><a href="/list_restantieri">Lista de studenti restantieri</a></li>


        </ul>
    </nav> -->




<!-- /////////////////////....Nou...///////////////////////// --> 
<nav class="navbar navbar-inverse navbar-fixed-top"  >
    <div class="container-fluid" >
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/index.html">Cofetăria☆Serelina</a>
        <p id="demo" style="color: rgb(220, 76, 67);"></p>
              <script>
                var myVar = setInterval(myTimer, 1000);
                
                function myTimer() {
                  var d = new Date();
                  document.getElementById("demo").innerHTML = d.toLocaleTimeString();
                }
                </script>
      </div>
      
      
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" >
          <!-- <li class="active"><a href="/index.html#Acasa">Acasa</a></li> -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/index.html#ProduseleNoastre">Produse
               <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/index.html#Torturi">Torturi</a></li>
              <li><a href="/index.html#Prajituri">Prajituri</a></li>
              <li><a href="/index.html#ProduseSpeciale">ProduseSpeciale</a></li>
              <li><a href="/index.html#ProdusedePost">ProdusedePost</a></li>
            </ul>
          </li>
          <li><a href="/index.html#Contact">Contact</a></li>
          <li><a href="/Torturi-Prajituri.html">Torturi - Prajituri</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="/caddUsers.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/administrator.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
          
          <li><a href="/add_comanda"><span class="glyphicon glyphicon-user"></span> Adauga_Comanda</a></li>
          <li><a href="/list_comenzi"><span class="glyphicon glyphicon-log-in"></span> Lista Comenzi</a></li>

        </ul>
         
      </div>
    </div>
  </nav>


</header>