
<!-- <p>Niste continut specific paginii pe care ne aflam</p> -->

<!DOCTYPE html>
<html lang="ro">
<!-- <head>
    <title>Administrator</title>

    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/w3.css" />

    <link rel="shortcut icon" type="image/png" href="/Photos/Icon.png">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <script src="/java.js"></script> 
    <script src="/j2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head> -->


<head>

  <!-- {"nextId":2,"comanda":[{"id":1,"nume":"Lola","email":"lola@yh.com","mobile":"1234567890","tipulprod":"Torturi","descriereprod":"Ciocolata","livrare":"domiciliu","plata":"card"}]} -->

  <title>Administrator</title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/w3.css" />

    <link rel="shortcut icon" type="image/png" href="/Photos/Icon.png ">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
<script src="/java.js"></script> 
<script src="/j2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body > 
    <!-- class="container" -->

    <div id="Acasa">
        <div id="header" >
          <img  alt="Coperta" style="min-height: 160px; padding-top: 10%; width:90%; height:90%" src="/Photos/cover.jpg"/>
        </div> 
      </div>

<!-- headerul care se repeta pagina de pagina -->
<%- include("../views/header") %>

<% if(locals.user){ %>

  <script>
      function logout(){
          fetch('http://localhost:3000/logout',{
              method: 'POST'
          }).then((response) => {
              if(response.status === 200){
                  document.getElementById('logoutResponse').innerHTML = 'Ai iesit din cont';
                  document.getElementsByClassName('info_login')[0].innerHTML = '';
              }
          })
      }
  </script>

<div class="w3-container"  >
  <div class="w3-content" style="max-width:700px">

      <br>   
      <div class="row">
        <div class="info_login"> <p><strong><h4>User logat:
           <%= user.username %></h4></strong></p></div>
      </div>

       <!-- <div class="info_login">User logat: <%= user.username %></div> -->
        </div>
    </div>
       
        <div class="w3-container"  >
            <div class="w3-content" style="max-width:700px">
        
            <br>   
            <div class="row" id='logoutResponse'>
                <button class="w3-button w3-black" id="b30">
                    <a href="/admin"><span class="glyphicon glyphicon-user"></span> Administratie</a></button>
                </div>

            </div>
        </div>


        <div class="w3-container"  >
            <div class="w3-content" style="max-width:700px">

            <div class="row">
                <p id='logoutResponse' class="w3-button w3-black">
                    <button  class="w3-button w3-black" onClick="logout()"></button>
                </p>
            </div>


            </div>
        </div>

        <% } %>
        <!-- <p id='logoutResponse' class="w3-button w3-black">
            <button  class="w3-button w3-black" onClick="logout()"></button>
        </p> -->

        
<!-- subsolul care se repeta  -->

<%- include("../views/footer") %>

</body>
</html>